In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect, MetaData
import time

In [ ]:
# Download files
!wget -P data/ https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
!gunzip data/green_tripdata_2019-09.csv.gz
!wget -P data/ https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [ ]:
# connect to Postgress that is running in Docker
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
# test the connection
engine.connect()

In [ ]:
inspector = inspect(engine)
inspector.get_schema_names()

In [ ]:
# create a dataframe as an iterrator (parse dates correctly)
df_iter = pd.read_csv(
    'data/green_tripdata_2019-09.csv',
    parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'],
    iterator=True,
    chunksize=100000
)

In [ ]:
TAXI_DATA_TABLE_NAME = 'green_taxi_data'

for i, df in enumerate(df_iter):
    ts_start = time.time()
    if i == 0:
        df.head(n=0).to_sql(
            name=TAXI_DATA_TABLE_NAME,
            con=engine, 
            if_exists='replace'
        )
    df.to_sql(name=TAXI_DATA_TABLE_NAME, con=engine, if_exists='append')
    ts_end = time.time()
    print(f'Run {i} took {(ts_end - ts_start):.1f} sec')
print('Finished.')

In [ ]:
df_zone = pd.read_csv('data/taxi+_zone_lookup.csv')
LOOKUP_TABLE_NAME = 'zone_lookup'

df_zone.to_sql(
    name=LOOKUP_TABLE_NAME,
    con=engine,
    if_exists='replace'
)

In [ ]:
query = """
SELECT COUNT(*)
FROM green_taxi_data
WHERE 
   DATE(lpep_pickup_datetime) = '2019-09-18'
   AND DATE(lpep_dropoff_datetime) = '2019-09-18'
"""
pd.read_sql(query, engine)

In [ ]:
query = """
SELECT 
    *,
    (lpep_dropoff_datetime - lpep_pickup_datetime) AS duration
FROM green_taxi_data
ORDER BY trip_distance DESC
LIMIT 20
"""
pd.read_sql(query, engine)

In [ ]:
query = """
SELECT 
    COALESCE(z."Borough", 'Unknown') AS "borough",
    SUM(gt."total_amount") AS "total_amount"
FROM green_taxi_data gt 
LEFT JOIN zone_lookup z
ON gt."PULocationID" = z."LocationID"
WHERE DATE(gt."lpep_pickup_datetime") = '2019-09-18'
GROUP BY 1
ORDER BY 2 DESC
"""
pd.read_sql(query, engine)

In [ ]:
query = """
SELECT 
    zpu."Zone" AS pickup_zone,
    zdo."Zone" AS dropoff_zone,
    gt."tip_amount"
FROM green_taxi_data gt 
LEFT JOIN zone_lookup zpu
ON gt."PULocationID" = zpu."LocationID"
LEFT JOIN zone_lookup zdo
ON gt."DOLocationID" = zdo."LocationID"
WHERE zpu."Zone" = 'Astoria'
ORDER BY gt."tip_amount" DESC
"""
pd.read_sql(query, engine)

In [ ]:
# metadata = MetaData()
# metadata.reflect(bind=engine)
# table_to_drop = metadata.tables.get('yellow_taxi_data')
# if table_to_drop is not None:
#     table_to_drop.drop(engine)
#     print(f'Table {table_to_drop.name} was dropped.')